.Container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  flex-wrap: wrap;
}

.Title {
  text-align: center;
  margin: 1em;
}

.Header {
  display: flex;
  justify-content: space-around;
}

.Ul {
  display: flex;
  list-style-type: none;
}

.FlexContainer {
  display: flex;
  flex-direction: column;
}

#__next {
  padding: 5rem;
}

.Img {
  width: 100%;
  border: 4px solid black;
  border-radius: 4px;
}

.FooterContainer {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
}

.Anchor {
  text-decoration: none;
  color: black;
}
